* {
	margin: 0;
}

.icones-header {
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: flex-end;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 10px;
	padding: 2%;
	background-color: #F6F2E2;
	/* height: 90px; */
}

.img-loguinhoP {
	width: 72px;
	/* height:100px; */

}

.img-perfil {
	width: 137px;
	height: 137px;
}

.img-voltar {
	width: 44px;
	height: 44px;
	/* margin-top: 6%;
	margin-left: 4%; */
	overflow: hidden;
	margin: 6% 0 6.6% 4%;
}

.dados-usuario {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 228px;
	/* height: 110px; */
	border-radius: 10px;
}

.margin {
	margin-bottom: 10px;
}

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 2%;
	background-color: #F6F2E2;
}

@media screen and (min-width: 768px) {

	.icones-header {
		background-color: #3B5A2B;
		justify-content: space-between;
		padding: 2%;
		height: 130px;
	}

	.img-voltar {
		margin: 6% 0 3% 4%;
	}

	footer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: fixed;
		left: 5%;
		top: 18%;
		bottom: 40%;
		width: 10%;
		padding: 10px;
		background-color: #f6f2e200;
	}


}