.container-infopage {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-image: url(../imagens/backgroundMob.png);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
}

.img-voltar {
    width: 44px;
    height: 44px;
    margin-top: 6%;
    margin-left: 4%;
}

/* .linkedin { */
    /* imagens do linkedin e github */
    /* width: 16px;
    height: 16px;
} */

.info-devs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
}

.texto2,
a {
    font-size: 12px;
    text-align: center;
    color: #F6F2E2;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dev-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.dev-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dev-icons {
    display: flex;
    align-items: center;
    width: 60vw;
}

.dev-icons a {
    margin-left: 6%;
}

.linkedin {
    /* imagens do linkedin e github */
    width: 18px;
    height: 18px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info p {
    margin-right: 6px;
    font-weight: 600;
    /* font-size: 12px; */

}


@media screen and (min-width: 768px) {

    .container-infopage {
        background-image: url(../imagens/CBDCNNCT-IMG/BG_feedDesktop.png);
    }

    .texto2,
    a {
        font-size: 15px;
        text-align: center;
        font-weight: 600;
    }

    .espaco {
        margin: 4px 0 6px 0;
    }

    .info p {
        font-size: 17px;
        margin-right: 13px;
    }

    .info-devs {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8%;

    }

    .dev-info {
        margin-bottom: 2%;
    }

    .img-voltar {
        overflow-y: hidden;
    }

    footer {
        display: none;
    }
}

@media screen and (min-width: 992px) {

    .texto2,
    a {
        font-size: 20px;
        text-align: center;
        font-weight: 800;
        margin-bottom: 3px;

    }

    .espaco {
        margin-bottom: 6px;
    }

    .info p {
        font-size: 22px;
        margin-right: 15px;
    }

}

@media screen and (min-width: 1200px) {

    .texto2,
    a {
        font-size: 18px;
        text-align: center;
        font-weight: 800;
        margin-bottom: 3px;

    }

    .info-devs {
        margin-top: 9%;

    }

    .linkedin {
        /* imagens do linkedin e github */
        width: 30px;
        height: 30px;
    }

    .espaco {
        margin-bottom: 6px;
    }

    .info p {
        font-size: 17px;
        margin-right: 15px;
    }
}